/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  position: absolute;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font-primary);
  letter-spacing: 0;
  color: #172126;
  background-color: var(--color-white-light);
}

a {
  text-decoration: none;
}

// Firefox:
input[type="number"] {
  appearance: textfield;
}

.root-portal {
  z-index: 2;
  position: absolute;
}

/* Выставляем шрифт заголовкам */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class */
ul[class],
ol[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article */
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

#root {
  height: 100vh;
  width: 100vw;
}
