.typography {
  @include font-size;

  &_100 {
    @include font-size(100, 700);
  }

  &_80 {
    @include font-size(80, 700);
  }

  &_60 {
    @include font-size(60, 500);
  }

  &_50 {
    @include font-size(50, 500);
  }

  &_48 {
    @include font-size(48, 500);
  }

  &_46 {
    @include font-size(46, 700);
  }

  &_40 {
    @include font-size(40, 700);
  }

  &_36 {
    @include font-size(36, 700);
  }

  &_30 {
    @include font-size(30, 400);
  }

  &_24 {
    @include font-size(24, 400);
  }

  &__wight {
    &_400 {
      font-weight: 400;
    }

    &_500 {
      font-weight: 500;
    }

    &_700 {
      font-weight: 700;
    }
  }

  &__color {
    &_red {
      color: red;
    }

    &_gray {
      color: rgba(117, 117, 115, 0);
    }
  }
}
